@SET LOGDIR_APP_PREFIX=/var/log/apps-
@SET LOGDIR_SQL_PREFIX=/var/log/sql-
@SET LOGDIR_CUSTOM_APP_PREFIX=/var/log/custom-apps-
@SET LOGDIR_NGINX=${LOGDIR_NGINX}
@SET LOGDIR_BIOS=/var/log/server
@SET LOGDIR_BIOS_STORAGE=/var/log/bios-storage
@SET LOGDIR_BIOSLB=/var/log/bioslb
@SET LOGDIR_DBDOZER=/var/log/dbdozer
@SET DOMAIN_NAME=${DOMAIN_NAME}
@SET WEBHOOK_PATH=${WEBHOOK_PATH}
@SET USER=${USER}
@SET PASSWORD=${PASSWORD}
